{% extends "layout.html" %} 
{% block title %}添加管理员{% endblock %} 
{% block content %}
    <div class="container">
        <div style="margin-bottom:10px;">
            <a class="btn btn-success" href="/admin/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新建管理员
            </a>
        </div>


       <div class="bs-example">
    <div class="panel panel-default">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}    <!-- 自动渲染username、password输入框 -->
            <button type="submit" class="btn btn-danger">保存</button>
        </form>
    </div>
</div>
</div> 
{% endblock %}