{% extends "layout.html" %} 
{% block title %}新建部门{% endblock %} 
{% block content %}
    <div class="container">
        <div style="margin-bottom:10px;">
            <a class="btn btn-success" href="/depart/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新建部门
            </a>
        </div>


        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>标题</label>
                        <input type="text" class="form-control" placeholder="部门名称" name="title">
                    </div>
                    <button type="submit" class="btn  btn-danger">保存</button>
                </form>
            </div>


        </div>
{% endblock %}